spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/teamflow
    username: teamflow
    password: teamflow123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8080

jwt:
  secret: 1de543f62ba2722d10532fff5e2a61c8a610701f71bdd1ff8d2b2e1b678a8996
  expiration: 86400000

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
      show-components: always

  health:
    db:
      enabled: true